exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "barplot", "hist", "layout", "par",
		 "plot", "plot.new", "title")
importFrom("stats", "bw.nrd0", "convolve", "density", "integrate",
		 "pnorm", "quantile", "splinefun", "stepfun")
import("compare")
import("orthopolynom")
S3method(density, mosg.lossdistribution)
S3method(mean, mosg.lossdistribution)
S3method(plot, mosg)
S3method(plot, mosg.equilibrium)
S3method(plot, mosg.lossdistribution)
S3method(print, mosg)
S3method(print, mosg.equilibrium)
S3method(print, mosg.equilibrium.summary)
S3method(print, mosg.lossdistribution)
S3method(print, summary.mosg.lossdistribution)
S3method(quantile, mosg.lossdistribution)
S3method(summary, mosg.equilibrium)
S3method(summary, mosg.lossdistribution)
